/* Remember to download Noto Sans and Montserrat fonts from Google Fonts: https://fonts.google.com/ */

:root {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.extra-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

header {
  background-image: url(./img/hero-bg.svg);
  background-color: blue;
  background-size: cover;
  background-position: center;
}

body {
  background-color: white;
  color: black;
}
/*----------------------------------------*/

/* HEADER */

#overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  height: 50vh;
}
.hero {
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
header nav {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
}
#overlay > nav a {
  text-decoration: none;
  color: white;
}
#overlay > nav a:hover {
  text-decoration: underline;
}
header nav > img {
  width: 200px;
  padding-left: 50px;
}
.login {
  border: none;
  border-radius: 40%;
  margin-right: 20px;
  padding: 12px 15px;
}
.login:hover {
  color: blue;
  border: blue;
}

#text-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: white;
  align-items: center;
  margin: auto 200px;
  z-index: 2;
}
#text-header > button {
  text-align: justify;
  border-radius: 40%;
  padding: 16px 32px;
}
/*-----------------------------------------------*/

/*SECTIONS*/

.text-img-section {
  display: flex;
  padding: 3rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid white;
  margin-top: 24px;
}

.text-img-section:nth-child(odd) {
  flex-direction: row-reverse;
}
.text-img-section:nth-child(2) {
  background-color: lightgray;
}

.text-img-ultimatesection {
  background-color: lightgray;
  padding: 4rem;
  justify-content: center;
  align-items: center;
}
.img-body {
  width: 200%;
  height: 200%;
}

#ultimate-section {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mac {
  background-color: blue;
  border: none;
  color: white;
  margin-top: 40px;
  padding: 16px 32px;
  border-radius: 0 28px;
}

/*-----------------------------------------------*/

/*FOOTER*/

footer {
  background-color: black;
  height: 500px;
}
.testa {
  display: flex;
  flex-direction: row;
}
#end {
  color: blue;
  height: 450px;
  border-bottom: 3px solid blue;
}
.elenco-foot > a {
  color: white;
  text-decoration: none;
}
.ult {
  padding-top: 20px;
  border-top: 30px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reg {
  border-radius: 40%;
}
